@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Inter;
}

.wrap{
    flex-wrap: wrap;  
}

.flex{
    display: flex;
    align-items: center;
    gap: 13px;
}

.count-menu{
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 1px 5px;
}

#color-count-text{
    width: 100%;
}

.up-down-arrow{
    width: 10px;
    margin: -1.5px 0;
}

#nav-bar{
    position: relative;
    justify-content: space-between;
    padding: 25px 25px;
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.15);
    top: 0;
    width: 100%;
    box-sizing: border-box; 
    z-index: 1;
    background-color: #FFFFFF;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    height: 44px;
    background-color: #fff;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    background-color: #fff;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 6px;
}

.input{
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 25px;
    padding: 9px 16px 9px 13px;
    border-radius: 6px;
    border: 1px solid var(--gray-300, #D1D5DB);
    -moz-appearance: none;
    -webkit-appearance: none;
}

#color-count-input{
    flex-grow: 1;
    min-width: 150px;
    width: auto;
    align-items: center;
}

.select-items{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-transform: capitalize;
}

.padding-bottom{
    padding-bottom: 10px;
}

.select-container{
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.select-checked { 
    font-weight: 600;
}

button{
    width: 200px;
    height: 46px;
    padding: 13px 11px;
    border-radius: 6px;
    border: 1px solid var(--gray-300, #D1D5DB);
    background: var(--white, #FFF);
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
}

svg{
    cursor: pointer;
}

#drop-down{
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.15);
    flex-direction: column;
    width: 250px;
    padding: 9px 16px 9px 13px;
    margin-top: 3px;
    position: absolute;
    top: 50px;
    z-index: 1;
}

.arrow-icon{
    cursor: pointer;
}

.arrow-icon-active{
    transform: rotate(-90deg);
}

.hidden{
    display: none;
}

.invisible{
    visibility: hidden;
}

.bold{
    font-weight: 700;
}

.center{
    justify-content: center;
}

#main-div{
    display: flex;
    align-items: stretch;
    height: 100%;
}

.color-container{
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.color-data-container{
    color: #2B283A;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    background-color: #FFF;
    padding: 10px 0px;
    position: relative;
}

.active-arrow{
     filter: brightness(0) saturate(100%) invert(58%) sepia(0%) saturate(5034%) hue-rotate(68deg) brightness(111%) contrast(76%);
     cursor: pointer;
}

.clipboard{
    width: 12px;
    padding: 12px 0px;
    cursor: pointer;
}

.copy-message{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 15px;
    color: white;
    font-size: 12px;
    margin: 20px;
    text-align: center;
    }


@media only screen and (max-width: 800px){  
    input, .select-container, .inputs-wrapper, button, #drop-down, #selector{
        width: auto;
        flex-grow: 1;
        min-width: 200px;
    }
    
    input[type="color"], input[type="color"]::-webkit-color-swatch-wrapper{
        min-width: 50px;
    }
        
    .color-container{
        flex-direction: row;
        height: auto;
        flex-grow: 1;
        align-items: center;
    }
    
    #main-div{
        flex-direction: column;
    }
    
    .color-data-container{
        display: flex;
        box-sizing: border-box;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
        height: 100%;
        width: 40vw;
        min-width: 200px;
        padding: 0 25px;
        gap: 7px;
    }
}
